{%extends "base.html"%}

{% block title%}
	buscar libros
{%endblock%}

{% block content%}

<div class="row-fluid">
	<div class="caj">
		<select class ="buscar">
			<option>Tipo</option>
			<option>Categoria</option>
			<option>Autor</option>
			<option>Editorial</option>
			<option>Titulo</option>
		</select>
		<button class="boton" type="submit">Buscar</button>
	</div>
</div>

<section  id ="contenido">
            <article class="item">
                <div class="votos">
                    <div>
                        <a href="#" Class="up"></a>
                    </div>
                    <div clas="puntos">nose k poner aki e.e
                    </div>
                    <div>
                        <a href="#" Class="down"></a>
                    </div>
                </div>
                <h2 class="titulo_item">
                    <a href="#">Titulo 1
                        <figure>
                            <img src="foto.jpg" width="40px" height="40px">
                        </figure>
                    </a>
                </h2>
                <div class="autor">
                    <p>
                        <div class="icon"></div> <a href="#">Autor</a>
                    </p>
                    <p class="tag">Mas Detalles</p>
                </div>
            </article>

            <article class="item">
                <div class="votos">
                    <div>
                        <a href="#" Class="up"></a>
                    </div>
                    <div clas="puntos">nose k poner aki e.e
                    </div>
                    <div>
                        <a href="#" Class="down"></a>
                    </div>
                </div>
                <h2 class="titulo_item">
                    <a href="#">Titulo 2
                        <figure>
                            <img src="foto.jpg" width="40px" height="40px">
                        </figure>
                    </a>
                </h2>
                <div class="autor">
                    <p>
                        <div class="icon"></div> <a href="#">Autor</a>
                    </p>
                    <p class="tag">Mas Detalles</p>
                </div>
            </article>

            <article class="item">
                <div class="votos">
                    <div>
                        <a href="#" Class="up"></a>
                    </div>
                    <div clas="puntos">nose k poner aki e.e
                    </div>
                    <div>
                        <a href="#" Class="down"></a>
                    </div>
                </div>
                <h2 class="titulo_item">
                    <a href="#">Titulo 3
                        <figure>
                            <img src="foto.jpg" width="40px" height="40px">
                        </figure>
                    </a>
                </h2>
                <div class="autor">
                    <p>
                        <div class="icon"></div> <a href="#">Autor</a>
                    </p>
                    <p class="tag">Mas Detalles</p>
                </div>
            </article>

            <article class="item">
                <div class="votos">
                    <div>
                        <a href="#" Class="up"></a>
                    </div>
                    <div clas="puntos">nose k poner aki e.e
                    </div>
                    <div>
                        <a href="#" Class="down"></a>
                    </div>
                </div>
                <h2 class="titulo_item">
                    <a href="#">Titulo 4  
                        <figure>
                            <img src="foto.jpg" width="40px" height="40px">
                        </figure>
                    </a>
                </h2>
                <div class="autor">
                    <p>
                        <div class="icon"></div> <a href="#">Autor</a>
                    </p>
                    <p class="tag">Mas Detalles</p>
                </div>
            </article>

            <article class="item">
                <div class="votos">
                    <div>
                        <a href="#" Class="up"></a>
                    </div>
                    <div clas="puntos">nose k poner aki e.e
                    </div>
                    <div>
                        <a href="#" Class="down"></a>
                    </div>
                </div>
                <h2 class="titulo_item">
                    <a href="#">Titulo 5
                        <figure>
                            <img src="foto.jpg" width="40px" height="40px">
                        </figure
                    </a>
                </h2>
                <div class="autor">
                    <p>
                        <div class="icon"></div> <a href="#">Autor</a>
                    </p>
                    <p class="tag">Mas Detalles</p>
                </div>
            </article>
 </section>
	<div class="row-fluid">
              <div class="pagination p" >
              <ul>
                <li><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Next</a></li>
              </ul>
            </div>
     </div>

{%endblock%}