<!DOCTYPE Html>
<html>
<head>
	<title>Registrar Libro</title>
</head>
	<center>		
	{% block contenido %}
	<h2>  <center>REGISTRAR LIBRO</center> </h2>
	<form id='libro_form' method='POST'>{% csrf_token %}
		<table>			
			<tr>
				<td>codigo</td>
				<td>
					<input type='text' name='codigo' maxlength='15'/>
				</td>
			</tr>
			<tr>
				<td>titulo</td>
				<td>	
					<input type='text' name='titulo' maxlength='50'/>
				</td>
			</tr>
			<tr>
				<td>editorial</td>
				<td>
					<input type='text' name='editorial' maxlength='50' />
				</td>
			</tr>
			<tr>
				<td>fecha publicacion </td>
				<td>
					<input type='date' name='fecha_publicacion' />
				</td>
			</tr>
			<tr>
				<td>Portada Libro</td>
				<td>
					<input type='file' name='portada' />
				</td>
			</tr>
			<tr>
				<td><input type="submit" name="guardar_libro" value="Guardar"/></td>
			</tr>

		</table>
		</center>
	</form>
	{% endblock %}
</body>
</html>