{% extends "base.html" %}

{% block title %}
registrar_categoria
{% endblock %}

{% block content %}
	<div class="container contenido1">
		
	    <div class="row-fluid">
		   <div class="span4 categoria1">
		   	    
		        <div id="capa">
		        	<img class="portada" src="{{MEDIA_URL}}img/l2.jpg">
		        	<div class="descripcion"><p class="p_descripcion">7 cuentos con el cuento de siete<br> Tapa dura.<br> Literatura.<br>(82) Libros infantiles y juveniles.(087.5)<br> Instituto español de oceanografía. Madrid. 2008. 20 cm.<br> Encuadernación en tapa dura de editorial ilustrada. <br>Depósito legal: M 56890-2008 HG46. Nº de ref. de la librería 298620</p></div>
		        </div>
		             
		   </div>
		   
		   <div class="span8 categoria2">
		   		<a href="/registrar_libro"><h2><p class="cont_categoria">Categoría 1<p></h2></a>
		   		<p class="cont_categoria"><em>Julio</em></p>
		   		<p class="cont_categoria">Interés educativo</p>
		   		<p id="sub">Registro Online</p>

		   </div>
	    </div>

	    
	    
	</div>
	
{% endblock %}

<!--{% block js %}


{% endblock %}-->